body {
    color:royalblue;
    text-align: top left;
    padding: auto;
    font-size: 20px;
}

.card {
    color: black;
    width: 25vw;
}

.card h1 {
    font-size: 1.25rem;
}

.card-header {
    background-color: rgb(0, 162, 255);
    color: white;
}

.card-text {
    font-size: .75rem;
}

.dropdown {
    display: inline;
    background-color: aquamarine;
}

.btn-secondary {
    background-color: rgb(60, 177, 138);
}

.btn-secondary:hover {
    background-color: rgb(23, 128, 93);
}
