body {
    color: aquamarine;
}

.card {
    color: black;
    width: 25vw;
}

.card h1 {
    font-size: 1.25rem;
}

.card-header {
    background-color: rgb(0, 162, 255);
    color: white;
}

.card-text {
    font-size: .75rem;
}

.dropdown {
    display: inline;
    background-color: aquamarine;
}