body {
    color: aquamarine;
}

.card {
    color: black;
    width: 25vw;
}

.card h1 {
    font-size: 1.25rem;
}

.card-text {
    font-size: .75rem;
}

.dropdown {
    display: inline;
    background-color: aquamarine;
}

.btn-secondary {
    background-color: rgb(60, 177, 138);
}

.btn-secondary:hover {
    background-color: rgb(23, 128, 93);
}
.card-header {
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 50px;
    padding: 0.5em;
  }
  
  .card-footer {
    display: fixed;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }